{
	"env": {
		"browser": true,
		"es2021": true,
	},
	"extends": [],
	"plugins": [],
	"rules": {},
	// "extends": [
	// 	"eslint:recommended",
	// 	"plugin:react/recommended",
	// 	"plugin:@typescript-eslint/recommended",
	// 	"plugin:import/errors",
	// 	"plugin:import/warnings",
	// 	"plugin:import/typescript",
	// 	"plugin:prettier/recommended",
	// 	"plugin:tailwindcss/recommended",
	// ],
	// "plugins": ["react", "@typescript-eslint", "prettier", "import", "tailwindcss"],
	// "rules": {
	// 	"prettier/prettier": [
	// 		"error",
	// 		{
	// 			"singleQuote": true,
	// 			"useTabs": true,
	// 			"tabWidth": 4,
	// 			"semi": true,
	// 			"bracketSpacing": true,
	// 			"printWidth": 100,
	// 			"trailingComma": "all",
	// 			"endOfLine": "auto",
	// 		},
	// 	],
	// 	"@typescript-eslint/consistent-type-imports": "error",
	// 	"@typescript-eslint/no-explicit-any": "off",
	// 	"@typescript-eslint/no-unused-vars": "off",
	// 	"@typescript-eslint/no-non-null-asserted-optional-chain": "off",
	// 	"@typescript-eslint/ban-ts-comment": "off",
	// 	"prefer-const": "off",
	// 	"import/no-named-as-default-member": "off",
	// 	"import/export": "off",
	// 	"no-constant-condition": "off",
	// 	"react/react-in-jsx-scope": "off",
	// },
	"settings": {
		"import/resolver": {
			"alias": {
				"map": [
					["@components", "./src/components"],
					["@pages", "./src/pages"],
					["@assets", "./src/assets"],
					["@router", "./src/router"],
					["@features", "./src/features"],
					["@core", "./src/core"],
					["@api-gen", "./src/api-gen/"],
				],
				"extensions": [".ts", ".js", ".jsx", ".tsx", ".json"],
			},
		},
		"react": {
			"version": "detect",
		},
	},
}
